# TODO: do we need this?
ns_prefix="${BASE16_SHELL_NAMESPACE:=}"

base00="#{{base00-hex}}" - Default Background
base01="#{{base01-hex}}" - Lighter Background (Used for status bars, line number and folding marks)
base02="#{{base02-hex}}" - Selection Background
base03="#{{base03-hex}}" - Comments, Invisibles, Line Highlighting
base04="#{{base04-hex}}" - Dark Foreground (Used for status bars)
base05="#{{base05-hex}}" - Default Foreground, Caret, Delimiters, Operators
base06="#{{base06-hex}}" - Light Foreground (Not often used)
base07="#{{base07-hex}}" - Light Background (Not often used)
base08="#{{base08-hex}}" - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09="#{{base09-hex}}" - Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A="#{{base0A-hex}}" - Classes, Markup Bold, Search Text Background
base0B="#{{base0B-hex}}" - Strings, Inherited Class, Markup Code, Diff Inserted
base0C="#{{base0C-hex}}" - Support, Regular Expressions, Escape Characters, Markup Quotes
base0D="#{{base0D-hex}}" - Functions, Methods, Attribute IDs, Headings
base0E="#{{base0E-hex}}" - Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F="#{{base0F-hex}}" - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>


base10="#{{base00-hex}}" - reserved 
base11="#{{base01-hex}}" - reserved
base12="#{{base02-hex}}" - reserved
base13="#{{base03-hex}}" - reserved
base14="#{{base04-hex}}" - reserved
base15="#{{base05-hex}}" - reserved
base16="#{{base06-hex}}" - reserved
base17="#{{base07-hex}}" - reserved
base18="#{{base08-hex}}" - reserved
base19="#{{base09-hex}}" - reserved
base1A="#{{base0A-hex}}" - reserved
base1B="#{{base0B-hex}}" - reserved
base1C="#{{base0C-hex}}" - reserved
base1D="#{{base0D-hex}}" - reserved
base1E="#{{base0E-hex}}" - reserved
base1F="#{{base0F-hex}}" - reserved


base20="#{{base00-hex}}" - reserved 
base21="#{{base01-hex}}" - reserved
base22="#{{base02-hex}}" - reserved
base23="#{{base03-hex}}" - reserved
base24="#{{base04-hex}}" - reserved
base25="#{{base05-hex}}" - reserved
base26="#{{base06-hex}}" - reserved
base27="#{{base07-hex}}" - reserved
base28="#{{base08-hex}}" - reserved
base29="#{{base09-hex}}" - reserved
base2A="#{{base0A-hex}}" - reserved
base2B="#{{base0B-hex}}" - reserved
base2C="#{{base0C-hex}}" - reserved
base2D="#{{base0D-hex}}" - reserved
base2E="#{{base0E-hex}}" - reserved
base2F="#{{base0F-hex}}" - reserved


base30="#{{base00-hex}}" - reserved 
base31="#{{base01-hex}}" - reserved
base32="#{{base02-hex}}" - reserved
base33="#{{base03-hex}}" - reserved
base34="#{{base04-hex}}" - reserved
base35="#{{base05-hex}}" - reserved
base36="#{{base06-hex}}" - reserved
base37="#{{base07-hex}}" - reserved
base38="#{{base08-hex}}" - reserved
base39="#{{base09-hex}}" - reserved
base3A="#{{base0A-hex}}" - reserved
base3B="#{{base0B-hex}}" - reserved
base3C="#{{base0C-hex}}" - reserved
base3D="#{{base0D-hex}}" - reserved
base3E="#{{base0E-hex}}" - reserved
base3F="#{{base0F-hex}}" - reserved



color00="#{{base00-hex}}"          # Base 00 - Black
color01="#{{base08-hex}}"          # Base 08 - Red
color02="#{{base0B-hex}}"          # Base 0B - Green
color03="#{{base0A-hex}}"          # Base 0A - Yellow
color04="#{{base0D-hex}}"          # Base 0D - Blue
color05="#{{base0E-hex}}"          # Base 0E - Magenta
color06="#{{base0C-hex}}"          # Base 0C - Cyan
color07="#{{base05-hex}}"          # Base 05 - White
color08="#{{base03-hex}}"          # Base 03 - Bright Black
color09=$base16_01                 # Base 08 - Bright Red
color10=$base16_02                 # Base 0B - Bright Green
color11=$base16_03                 # Base 0A - Bright Yellow
color12=$base16_04                 # Base 0D - Bright Blue
color13=$base16_05                 # Base 0E - Bright Magenta
color14=$base16_06                 # Base 0C - Bright Cyan
color15="#{{base07-hex}}"          # Base 07 - Bright White
color16="#{{base09-hex}}"          # Base 09
color17="#{{base0F-hex}}"          # Base 0F
color18="#{{base01-hex}}"          # Base 01
color19="#{{base02-hex}}"          # Base 02
color20="#{{base04-hex}}"          # Base 04
color21="#{{base06-hex}}"          # Base 06
color_foreground="#{{base05-hex}}" # Base 05
color_background="#{{base00-hex}}" # Base 00

