#!/bin/sh

# TODO: do we need this?
ns_prefix="${BASE16_SHELL_NAMESPACE:=}"
												  
export base00="#{{base00-hex}}"                   # Default Background
export base01="#{{base01-hex}}"                   # Lighter Background (Used for status bars, line number and folding marks)
export base02="#{{base02-hex}}"                   # Selection Background
export base03="#{{base03-hex}}"                   # Comments, Invisibles, Line Highlighting
export base04="#{{base04-hex}}"                   # Dark Foreground (Used for status bars)
export base05="#{{base05-hex}}"                   # Default Foreground, Caret, Delimiters, Operators
export base06="#{{base06-hex}}"                   # Light Foreground (Not often used)
export base07="#{{base07-hex}}"                   # Light Background (Not often used)
export base08="#{{base08-hex}}"                   # Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
export base09="#{{base09-hex}}"                   # Integers, Boolean, Constants, XML Attributes, Markup Link Url
export base0A="#{{base0A-hex}}"                   # Classes, Markup Bold, Search Text Background
export base0B="#{{base0B-hex}}"                   # Strings, Inherited Class, Markup Code, Diff Inserted
export base0C="#{{base0C-hex}}"                   # Support, Regular Expressions, Escape Characters, Markup Quotes
export base0D="#{{base0D-hex}}"                   # Functions, Methods, Attribute IDs, Headings
export base0E="#{{base0E-hex}}"                   # Keywords, Storage, Selector, Markup Italic, Diff Changed
export base0F="#{{base0F-hex}}"                   # Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
                                                  
                                                 
export base10="#{{base00-hex}}"                   # reserved 
export base11="#{{base01-hex}}"                   # reserved
export base12="#{{base02-hex}}"                   # reserved
export base13="#{{base03-hex}}"                   # reserved
export base14="#{{base04-hex}}"                   # reserved
export base15="#{{base05-hex}}"                   # reserved
export base16="#{{base06-hex}}"                   # reserved
export base17="#{{base07-hex}}"                   # reserved
export base18="#{{base08-hex}}"                   # reserved
export base19="#{{base09-hex}}"                   # reserved
export base1A="#{{base0A-hex}}"                   # reserved
export base1B="#{{base0B-hex}}"                   # reserved
export base1C="#{{base0C-hex}}"                   # reserved
export base1D="#{{base0D-hex}}"                   # reserved
export base1E="#{{base0E-hex}}"                   # reserved
export base1F="#{{base0F-hex}}"                   # reserved
                                                  
                                                  
export base20="#{{base00-hex}}"                   # reserved 
export base21="#{{base01-hex}}"                   # reserved
export base22="#{{base02-hex}}"                   # reserved
export base23="#{{base03-hex}}"                   # reserved
export base24="#{{base04-hex}}"                   # reserved
export base25="#{{base05-hex}}"                   # reserved
export base26="#{{base06-hex}}"                   # reserved
export base27="#{{base07-hex}}"                   # reserved
export base28="#{{base08-hex}}"                   # reserved
export base29="#{{base09-hex}}"                   # reserved
export base2A="#{{base0A-hex}}"                   # reserved
export base2B="#{{base0B-hex}}"                   # reserved
export base2C="#{{base0C-hex}}"                   # reserved
export base2D="#{{base0D-hex}}"                   # reserved
export base2E="#{{base0E-hex}}"                   # reserved
export base2F="#{{base0F-hex}}"                   # reserved
                                                  
                                                  
export base30="#{{base00-hex}}"                   # reserved 
export base31="#{{base01-hex}}"                   # reserved
export base32="#{{base02-hex}}"                   # reserved
export base33="#{{base03-hex}}"                   # reserved
export base34="#{{base04-hex}}"                   # reserved
export base35="#{{base05-hex}}"                   # reserved
export base36="#{{base06-hex}}"                   # reserved
export base37="#{{base07-hex}}"                   # reserved
export base38="#{{base08-hex}}"                   # reserved
export base39="#{{base09-hex}}"                   # reserved
export base3A="#{{base0A-hex}}"                   # reserved
export base3B="#{{base0B-hex}}"                   # reserved
export base3C="#{{base0C-hex}}"                   # reserved
export base3D="#{{base0D-hex}}"                   # reserved
export base3E="#{{base0E-hex}}"                   # reserved
export base3F="#{{base0F-hex}}"                   # reserved


export color00="#{{base00-hex}}"                  # Base 00 - Black
export color01="#{{base08-hex}}"                  # Base 08 - Red
export color02="#{{base0B-hex}}"                  # Base 0B - Green
export color03="#{{base0A-hex}}"                  # Base 0A - Yellow
export color04="#{{base0D-hex}}"                  # Base 0D - Blue
export color05="#{{base0E-hex}}"                  # Base 0E - Magenta
export color06="#{{base0C-hex}}"                  # Base 0C - Cyan
export color07="#{{base05-hex}}"                  # Base 05 - White
export color08="#{{base03-hex}}"                  # Base 03 - Bright Black
export color09=$base16_01                         # Base 08 - Bright Red
export color10=$base16_02                         # Base 0B - Bright Green
export color11=$base16_03                         # Base 0A - Bright Yellow
export color12=$base16_04                         # Base 0D - Bright Blue
export color13=$base16_05                         # Base 0E - Bright Magenta
export color14=$base16_06                         # Base 0C - Bright Cyan
export color15="#{{base07-hex}}"                  # Base 07 - Bright White
export color16="#{{base09-hex}}"                  # Base 09
export color17="#{{base0F-hex}}"                  # Base 0F
export color18="#{{base01-hex}}"                  # Base 01
export color19="#{{base02-hex}}"                  # Base 02
export color20="#{{base04-hex}}"                  # Base 04
export color21="#{{base06-hex}}"                  # Base 06
export color_foreground="#{{base05-hex}}"         # Base 05
export color_background="#{{base00-hex}}"         # Base 00

